<!DOCTYPE html>
<html lang="en" ng-app="App" >
<head >
    <meta charset="utf-8" />
    <title>Luxtour Franchise</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @Styles.Render("~/bundles/material-style")
    
    @* 
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    *@

</head>
<body ng-cloak>
    <div class="layout-column">

        <md-toolbar id="tool-bar" ng-controller="HeaderCtrl" ng-init="Init()">
            <div class="md-toolbar-tools layout-row">
                <h3>
                    <span>Luxtour online</span>
                </h3>
                <span flex></span>
                
                <!-- Main menu -->

                <!-- Icons if authorized -->

                <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-href="#tel"  >
                    <md-icon class="material-icons">phone</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Favorite" ng-href="#mail">
                    <md-icon class="material-icons">mail</md-icon>
                </md-button>

                <!-- End Icons -->

                <md-menu>
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="OpenMenu($mdOpenMenu, $event)">
                        <md-icon aria-label="menu icon" class="material-icons">menu</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-href="http://luxtour.online">
                                <md-icon aria-label="Luxtour site" class="material-icons">home</md-icon>
                                To Luxtour.Online
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <md-menu-item>
                                <md-button ng-href="/dashboard/login">
                                    Log out
                                </md-button>
                            </md-menu-item>
                        }
                        else
                        {
                            <md-menu-item>
                                <md-button ng-href="/dashboard/login">
                                    log in
                                </md-button>
                            </md-menu-item>
                        }

                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-disabled="true">
                                Clear
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <!-- End of menu -->

            </div>
        </md-toolbar>
        
        <md-content flex>
            @RenderBody()
        </md-content>
    </div>


    <div class="container body-content">
        @RenderSection("SPAViews", required: false)
        <footer class="md-accent md-padding app-footer" md-colors="{background: 'primary'}" layout="row">
            <div flex="40" sm-flex="60" layout="column" layout-align="end">
                <p>&copy; @DateTime.Now.Year - Luxtour Online</p>
            </div>
            <div flex="30" sm-flex="40">

            </div>
            <div flex="30" hide-sm hide-xs>

            </div>
            
        </footer>
    </div>



    <!-- End of tab -->

    @*

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    *@
    
    @Scripts.Render("~/bundles/material-scripts")
    @Scripts.Render("~/bundles/main-app")
    
    @RenderSection("Scripts", required: false)
</body>
</html>
